In [26]:
import seaborn as sns
import missingno as msno
import numpy as np
np.infty = np.inf
from ycimpute.imputer import knnimput
from ycimpute.imputer import iterforest
import pandas as pd

In [2]:
df = sns.load_dataset("titanic")
df = df.select_dtypes(include = ["float64", "int64"])
print(df.head())
df.isnull().sum()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [5]:
var_names = list(df)

In [6]:
n_df = np.array(df)

In [7]:
n_df

array([[ 0.    ,  3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 1.    ,  3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       ...,
       [ 0.    ,  3.    ,     nan,  1.    ,  2.    , 23.45  ],
       [ 1.    ,  1.    , 26.    ,  0.    ,  0.    , 30.    ],
       [ 0.    ,  3.    , 32.    ,  0.    ,  0.    ,  7.75  ]],
      shape=(891, 6))

In [8]:
dff = knnimput.KNN(k = 4).complete(n_df)

Imputing row 1/891 with 0 missing, elapsed time: 0.135
Imputing row 101/891 with 0 missing, elapsed time: 0.137
Imputing row 201/891 with 0 missing, elapsed time: 0.138
Imputing row 301/891 with 1 missing, elapsed time: 0.139
Imputing row 401/891 with 0 missing, elapsed time: 0.139
Imputing row 501/891 with 0 missing, elapsed time: 0.140
Imputing row 601/891 with 0 missing, elapsed time: 0.141
Imputing row 701/891 with 0 missing, elapsed time: 0.141
Imputing row 801/891 with 0 missing, elapsed time: 0.142

In [10]:
dff = pd.DataFrame(dff, columns = var_names)

In [11]:
dff

     survived  pclass        age  sibsp  parch     fare
0         0.0     3.0  22.000000    1.0    0.0   7.2500
1         1.0     1.0  38.000000    1.0    0.0  71.2833
2         1.0     3.0  26.000000    0.0    0.0   7.9250
3         1.0     1.0  35.000000    1.0    0.0  53.1000
4         0.0     3.0  35.000000    0.0    0.0   8.0500
..        ...     ...        ...    ...    ...      ...
886       0.0     2.0  27.000000    0.0    0.0  13.0000
887       1.0     1.0  19.000000    0.0    0.0  30.0000
888       0.0     3.0  26.026414    1.0    2.0  23.4500
889       1.0     1.0  26.000000    0.0    0.0  30.0000
890       0.0     3.0  32.000000    0.0    0.0   7.7500

[891 rows x 6 columns]

In [12]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

## EM

In [29]:
from ycimpute.imputer import EM

In [34]:
df = sns.load_dataset("titanic")
df = df.select_dtypes(include = ["float64", "int64"])

In [35]:
df.isnull().sum()

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [30]:
var_names = list(df)
n_df = np.array(df)

In [31]:
dff = EM().complete(n_df)

In [32]:
dff = pd.DataFrame(dff, columns = var_names)

In [33]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64