In [1]:
import numpy as np
import pandas as pd

In [2]:
V1 = np.array([1, 3, 6, np.NaN, 7, 1, np.NaN, 9, 15])
V2 = np.array([7, np.NaN, 5, 8, 12, np.NaN, np.NaN, 2, 3])
V3 = np.array([np.NaN, 12, 5, 6, 14, 7, np.NaN, 2, 3])
df = pd.DataFrame({"V1" : V1, "V2" : V2, "V3" : V3})
df

     V1    V2    V3
0   1.0   7.0   NaN
1   3.0   NaN  12.0
2   6.0   5.0   5.0
3   NaN   8.0   6.0
4   7.0  12.0  14.0
5   1.0   NaN   7.0
6   NaN   NaN   NaN
7   9.0   2.0   2.0
8  15.0   3.0   3.0

In [3]:
df.isnull().sum()

V1    2
V2    3
V3    2
dtype: int64

In [4]:
df.notnull().sum()

V1    7
V2    6
V3    7
dtype: int64

In [5]:
df.isnull().sum().sum()

7

In [6]:
df.isnull()

      V1     V2     V3
0  False  False   True
1  False   True  False
2  False  False  False
3   True  False  False
4  False  False  False
5  False   True  False
6   True   True   True
7  False  False  False
8  False  False  False

In [7]:
df[df.isnull().any(axis = 1)]

    V1   V2    V3
0  1.0  7.0   NaN
1  3.0  NaN  12.0
3  NaN  8.0   6.0
5  1.0  NaN   7.0
6  NaN  NaN   NaN

In [8]:
df.notnull()

      V1     V2     V3
0   True   True  False
1   True  False   True
2   True   True   True
3  False   True   True
4   True   True   True
5   True  False   True
6  False  False  False
7   True   True   True
8   True   True   True

In [9]:
df[df.notnull().all(axis = 1)]

     V1    V2    V3
2   6.0   5.0   5.0
4   7.0  12.0  14.0
7   9.0   2.0   2.0
8  15.0   3.0   3.0

In [10]:
df[df.V1.notnull() & df.V2.notnull() & df["V3"].notnull()]

     V1    V2    V3
2   6.0   5.0   5.0
4   7.0  12.0  14.0
7   9.0   2.0   2.0
8  15.0   3.0   3.0

## Direct Deletion of Missing Values

In [11]:
df.dropna() # to be permanent df.dropna(inplace = True)

     V1    V2    V3
2   6.0   5.0   5.0
4   7.0  12.0  14.0
7   9.0   2.0   2.0
8  15.0   3.0   3.0

## Simple Value Assignment

In [12]:
df.V1

0     1.0
1     3.0
2     6.0
3     NaN
4     7.0
5     1.0
6     NaN
7     9.0
8    15.0
Name: V1, dtype: float64

In [13]:
df.V1.mean()

6.0

In [14]:
df.V1.fillna(6)

0     1.0
1     3.0
2     6.0
3     6.0
4     7.0
5     1.0
6     6.0
7     9.0
8    15.0
Name: V1, dtype: float64

In [15]:
df.apply(lambda x: x.fillna(x.mean()), axis = 0)

     V1         V2    V3
0   1.0   7.000000   7.0
1   3.0   6.166667  12.0
2   6.0   5.000000   5.0
3   6.0   8.000000   6.0
4   7.0  12.000000  14.0
5   1.0   6.166667   7.0
6   6.0   6.166667   7.0
7   9.0   2.000000   2.0
8  15.0   3.000000   3.0

## Deleting Methods

In [16]:
V1 = np.array([1, 3, 6, np.NaN, 7, 1, np.NaN, 9, 15])
V2 = np.array([7, np.NaN, 5, 8, 12, np.NaN, np.NaN, 2, 3])
V3 = np.array([np.NaN, 12, 5, 6, 14, 7, np.NaN, 2, 3])
df = pd.DataFrame({"V1" : V1, "V2" : V2, "V3" : V3})
df

     V1    V2    V3
0   1.0   7.0   NaN
1   3.0   NaN  12.0
2   6.0   5.0   5.0
3   NaN   8.0   6.0
4   7.0  12.0  14.0
5   1.0   NaN   7.0
6   NaN   NaN   NaN
7   9.0   2.0   2.0
8  15.0   3.0   3.0

In [17]:
df.dropna()

     V1    V2    V3
2   6.0   5.0   5.0
4   7.0  12.0  14.0
7   9.0   2.0   2.0
8  15.0   3.0   3.0

In [19]:
df.dropna(how = "all")

     V1    V2    V3
0   1.0   7.0   NaN
1   3.0   NaN  12.0
2   6.0   5.0   5.0
3   NaN   8.0   6.0
4   7.0  12.0  14.0
5   1.0   NaN   7.0
7   9.0   2.0   2.0
8  15.0   3.0   3.0

In [20]:
df.dropna(axis = 1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8]

In [24]:
df["sil_beni"] = np.nan

In [25]:
df

     V1    V2    V3  sil_beni
0   1.0   7.0   NaN       NaN
1   3.0   NaN  12.0       NaN
2   6.0   5.0   5.0       NaN
3   NaN   8.0   6.0       NaN
4   7.0  12.0  14.0       NaN
5   1.0   NaN   7.0       NaN
6   NaN   NaN   NaN       NaN
7   9.0   2.0   2.0       NaN
8  15.0   3.0   3.0       NaN

In [26]:
df.dropna(axis = 1, how = "all")

     V1    V2    V3
0   1.0   7.0   NaN
1   3.0   NaN  12.0
2   6.0   5.0   5.0
3   NaN   8.0   6.0
4   7.0  12.0  14.0
5   1.0   NaN   7.0
6   NaN   NaN   NaN
7   9.0   2.0   2.0
8  15.0   3.0   3.0

In [27]:
df.dropna(axis = 1, how = "all", inplace = True)

In [28]:
df

     V1    V2    V3
0   1.0   7.0   NaN
1   3.0   NaN  12.0
2   6.0   5.0   5.0
3   NaN   8.0   6.0
4   7.0  12.0  14.0
5   1.0   NaN   7.0
6   NaN   NaN   NaN
7   9.0   2.0   2.0
8  15.0   3.0   3.0

## Simple Value Assignment Methods

In [36]:
df

     V1    V2    V3
0   1.0   7.0   NaN
1   3.0   NaN  12.0
2   6.0   5.0   5.0
3   NaN   8.0   6.0
4   7.0  12.0  14.0
5   1.0   NaN   7.0
6   NaN   NaN   NaN
7   9.0   2.0   2.0
8  15.0   3.0   3.0

In [29]:
df.V1

0     1.0
1     3.0
2     6.0
3     NaN
4     7.0
5     1.0
6     NaN
7     9.0
8    15.0
Name: V1, dtype: float64

In [30]:
df.V1.fillna(1)

0     1.0
1     3.0
2     6.0
3     1.0
4     7.0
5     1.0
6     1.0
7     9.0
8    15.0
Name: V1, dtype: float64

In [ ]:
df["V1"].mean()

6.0

In [32]:
df["V1"].fillna(df["V1"].mean())

0     1.0
1     3.0
2     6.0
3     6.0
4     7.0
5     1.0
6     6.0
7     9.0
8    15.0
Name: V1, dtype: float64

In [ ]:
df.apply(lambda x: x.fillna(x.mean()), axis = 1) # filling with row-based averaging

     V1    V2    V3
0   1.0   7.0   4.0
1   3.0   7.5  12.0
2   6.0   5.0   5.0
3   7.0   8.0   6.0
4   7.0  12.0  14.0
5   1.0   4.0   7.0
6   NaN   NaN   NaN
7   9.0   2.0   2.0
8  15.0   3.0   3.0

In [37]:
df.apply(lambda x: x.fillna(x.mean()), axis = 0) # filling with column-based averaging

     V1         V2    V3
0   1.0   7.000000   7.0
1   3.0   6.166667  12.0
2   6.0   5.000000   5.0
3   6.0   8.000000   6.0
4   7.0  12.000000  14.0
5   1.0   6.166667   7.0
6   6.0   6.166667   7.0
7   9.0   2.000000   2.0
8  15.0   3.000000   3.0

In [39]:
df.fillna(df.mean()[:])

     V1         V2    V3
0   1.0   7.000000   7.0
1   3.0   6.166667  12.0
2   6.0   5.000000   5.0
3   6.0   8.000000   6.0
4   7.0  12.000000  14.0
5   1.0   6.166667   7.0
6   6.0   6.166667   7.0
7   9.0   2.000000   2.0
8  15.0   3.000000   3.0

In [43]:
df.fillna(df.mean()["V1": "V2"])

     V1         V2    V3
0   1.0   7.000000   NaN
1   3.0   6.166667  12.0
2   6.0   5.000000   5.0
3   6.0   8.000000   6.0
4   7.0  12.000000  14.0
5   1.0   6.166667   7.0
6   6.0   6.166667   NaN
7   9.0   2.000000   2.0
8  15.0   3.000000   3.0

In [44]:
df.V3.fillna(df.V3.median())

0     6.0
1    12.0
2     5.0
3     6.0
4    14.0
5     7.0
6     6.0
7     2.0
8     3.0
Name: V3, dtype: float64

In [48]:
df.where(pd.notna(df), df.mean(), axis = "columns")

     V1         V2    V3
0   1.0   7.000000   7.0
1   3.0   6.166667  12.0
2   6.0   5.000000   5.0
3   6.0   8.000000   6.0
4   7.0  12.000000  14.0
5   1.0   6.166667   7.0
6   6.0   6.166667   7.0
7   9.0   2.000000   2.0
8  15.0   3.000000   3.0