In [1]:
import numpy as np
import pandas as pd

In [2]:
V1 = np.array([1, 3, 6, np.nan, 7, 1, np.nan, 9, 15])
V2 = np.array([7, np.nan, 5, 8, 12, np.nan, np.nan, 2, 3])
V3 = np.array([np.nan, 12, 5, 6, 14, 7, np.nan, 2, 31])
V4 = np.array(["IT", "IT", "IK", "IK", "IK", "IK", "IK", "IT", "IT"])

df = pd.DataFrame({
    "salary" : V1,
    "V2" : V2,
    "V3" : V3,
    "department" : V4
})

df

   salary    V2    V3 department
0     1.0   7.0   NaN         IT
1     3.0   NaN  12.0         IT
2     6.0   5.0   5.0         IK
3     NaN   8.0   6.0         IK
4     7.0  12.0  14.0         IK
5     1.0   NaN   7.0         IK
6     NaN   NaN   NaN         IK
7     9.0   2.0   2.0         IT
8    15.0   3.0  31.0         IT

In [8]:
df.groupby("department")["salary"].mean()

department
IK    4.666667
IT    7.000000
Name: salary, dtype: float64

In [10]:
df["salary"]

0     1.0
1     3.0
2     6.0
3     NaN
4     7.0
5     1.0
6     NaN
7     9.0
8    15.0
Name: salary, dtype: float64

In [11]:
df["salary"].fillna(df.groupby("department")["salary"].transform("mean"))

0     1.000000
1     3.000000
2     6.000000
3     4.666667
4     7.000000
5     1.000000
6     4.666667
7     9.000000
8    15.000000
Name: salary, dtype: float64