In [1]:
import numpy as np
import pandas as pd

In [2]:
V1 = np.array([1, 3, 6, np.nan, 7, 1, np.nan, 9, 15])
V4 = np.array(["IT", np.nan, "IK", "IK", "IK", "IK", "IK", "IT", "IT"], dtype = object)

df = pd.DataFrame({
    "salary" : V1,
    "department" : V4
})

df

   salary department
0     1.0         IT
1     3.0        NaN
2     6.0         IK
3     NaN         IK
4     7.0         IK
5     1.0         IK
6     NaN         IK
7     9.0         IT
8    15.0         IT

In [3]:
df["department"].mode()

0    IK
Name: department, dtype: object

In [4]:
df["department"].fillna(df["department"].mode()[0])

0    IT
1    IK
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: department, dtype: object

In [8]:
df["department"].fillna(method = "bfill") # Filling with next value

C:\Users\emresimsek\AppData\Local\Temp\ipykernel_5432\2069180709.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["department"].fillna(method = "bfill") # Filling with next value

0    IT
1    IK
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: department, dtype: object

In [9]:
df.department.fillna(method = "ffill") # Filling with previous value

C:\Users\emresimsek\AppData\Local\Temp\ipykernel_5432\622277427.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.department.fillna(method = "ffill") # Filling with previous value

0    IT
1    IT
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: department, dtype: object