In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
df = sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## 0-1 Transformation

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
lbe = LabelEncoder()

In [6]:
lbe.fit_transform(df["sex"])

array([0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 0])

In [7]:
df["new_sex"] = lbe.fit_transform(df["sex"])

In [8]:
df

     total_bill   tip     sex smoker   day    time  size  new_sex
0         16.99  1.01  Female     No   Sun  Dinner     2        0
1         10.34  1.66    Male     No   Sun  Dinner     3        1
2         21.01  3.50    Male     No   Sun  Dinner     3        1
3         23.68  3.31    Male     No   Sun  Dinner     2        1
4         24.59  3.61  Female     No   Sun  Dinner     4        0
..          ...   ...     ...    ...   ...     ...   ...      ...
239       29.03  5.92    Male     No   Sat  Dinner     3        1
240       27.18  2.00  Female    Yes   Sat  Dinner     2        0
241       22.67  2.00    Male    Yes   Sat  Dinner     2        1
242       17.82  1.75    Male     No   Sat  Dinner     2        1
243       18.78  3.00  Female     No  Thur  Dinner     2        0

[244 rows x 8 columns]

## "1 and Others (0)" Transformation

In [9]:
df.head()

   total_bill   tip     sex smoker  day    time  size  new_sex
0       16.99  1.01  Female     No  Sun  Dinner     2        0
1       10.34  1.66    Male     No  Sun  Dinner     3        1
2       21.01  3.50    Male     No  Sun  Dinner     3        1
3       23.68  3.31    Male     No  Sun  Dinner     2        1
4       24.59  3.61  Female     No  Sun  Dinner     4        0

In [10]:
df["is_sun"] = np.where(df["day"].str.contains("Sun"), 1, 0)

In [11]:
df

     total_bill   tip     sex smoker   day    time  size  new_sex  is_sun
0         16.99  1.01  Female     No   Sun  Dinner     2        0       1
1         10.34  1.66    Male     No   Sun  Dinner     3        1       1
2         21.01  3.50    Male     No   Sun  Dinner     3        1       1
3         23.68  3.31    Male     No   Sun  Dinner     2        1       1
4         24.59  3.61  Female     No   Sun  Dinner     4        0       1
..          ...   ...     ...    ...   ...     ...   ...      ...     ...
239       29.03  5.92    Male     No   Sat  Dinner     3        1       0
240       27.18  2.00  Female    Yes   Sat  Dinner     2        0       0
241       22.67  2.00    Male    Yes   Sat  Dinner     2        1       0
242       17.82  1.75    Male     No   Sat  Dinner     2        1       0
243       18.78  3.00  Female     No  Thur  Dinner     2        0       0

[244 rows x 9 columns]

In [12]:
df["day"].str.contains("Sun")

0       True
1       True
2       True
3       True
4       True
       ...
239    False
240    False
241    False
242    False
243    False
Name: day, Length: 244, dtype: bool

## Multi-Class Transformation

In [13]:
lbe.fit_transform(df["day"])

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 3])

### ! One-Hat Transformation and Dummy Variable Trap

In [14]:
df.head()

   total_bill   tip     sex smoker  day    time  size  new_sex  is_sun
0       16.99  1.01  Female     No  Sun  Dinner     2        0       1
1       10.34  1.66    Male     No  Sun  Dinner     3        1       1
2       21.01  3.50    Male     No  Sun  Dinner     3        1       1
3       23.68  3.31    Male     No  Sun  Dinner     2        1       1
4       24.59  3.61  Female     No  Sun  Dinner     4        0       1

In [2]:
df_one_hot = pd.get_dummies(df, columns = ["sex"], prefix = ["sex"])

In [3]:
df_one_hot

     total_bill   tip smoker   day    time  size  sex_Male  sex_Female
0         16.99  1.01     No   Sun  Dinner     2     False        True
1         10.34  1.66     No   Sun  Dinner     3      True       False
2         21.01  3.50     No   Sun  Dinner     3      True       False
3         23.68  3.31     No   Sun  Dinner     2      True       False
4         24.59  3.61     No   Sun  Dinner     4     False        True
..          ...   ...    ...   ...     ...   ...       ...         ...
239       29.03  5.92     No   Sat  Dinner     3      True       False
240       27.18  2.00    Yes   Sat  Dinner     2     False        True
241       22.67  2.00    Yes   Sat  Dinner     2      True       False
242       17.82  1.75     No   Sat  Dinner     2      True       False
243       18.78  3.00     No  Thur  Dinner     2     False        True

[244 rows x 8 columns]

In [4]:
pd.get_dummies(df, columns = ["day"], prefix = ["day"])

,total_bill,tip,sex,smoker,time,size,day_Thur,day_Fri,day_Sat,day_Sun
0,16.99,1.01,Female,No,Dinner,2,False,False,False,True
1,10.34,1.66,Male,No,Dinner,3,False,False,False,True
2,21.01,3.50,Male,No,Dinner,3,False,False,False,True
3,23.68,3.31,Male,No,Dinner,2,False,False,False,True
4,24.59,3.61,Female,No,Dinner,4,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Dinner,3,False,False,True,False
240,27.18,2.00,Female,Yes,Dinner,2,False,False,True,False
241,22.67,2.00,Male,Yes,Dinner,2,False,False,True,False
242,17.82,1.75,Male,No,Dinner,2,False,False,True,False
243,18.78,3.00,Female,No,Dinner,2,True,False,False,False